{% from "macros.html" import include_material_design, attach_material_components, nav_links %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block nav_title %}{% endblock %} - {{ PROJECT_NAME }}</title>

	<link rel="stylesheet" type="text/css" href="static/css/base.css">

	{{ include_material_design() }}

	{% block custom_css %}{% endblock %}
</head>
<body class="mdc-typography">
	<!-- Nav-Bar -->
	<header id="site-header">
		<div class="mdc-top-app-bar__row">
			<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
				<span class="mdc-top-app-bar__title">{{ PROJECT_NAME }}</span>
			</section>
			<nav id="nav-links" class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
				{{ nav_links('home', 'Home') }}
				{{ nav_links('about', 'About') }}
			</nav>
		</div>
	</header>

	<div class="container">
		<!-- Child Template -->
		{% block content %}{% endblock %}
	</div>

	<!-- Error -->
	{% if error %}
		<p>
			<h4 class="mdc-typography--headline4">Error: </h4>
			{{ error }}
		</p>
	{% endif %}

	{% block custom_js %}{% endblock %}
	{{ attach_material_components() }}
</body>
</html>
